.mapWrapper {
  position: relative;
  width: 100%;
  max-width: 500px;
  margin: auto;
}

.pin {
  position: absolute;
  background-color: red;
  border-radius: 50%;
  border: 1px solid white;
  transform: translate(-50%, -50%);
  cursor: pointer;
}

.grid {
  background-color: transparent;
  background-image: linear-gradient(to right, #aaa 1px, transparent 1px),
    linear-gradient(to bottom, #aaa 1px, transparent 1px);
  background-size: 100px 100px;
  margin: 10px;
}

.btn {
  position: relative;
}

.btn::after {
  content: "";
  width: 0%;
  height: 2px;
  background-color: white;
  position: absolute;
  bottom: 0;
  left: 0;
  transition: all 0.3s ease-in-out;
}

.btn:hover::after {
  width: 100%;
}

.loader {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 6rem;
  margin-top: 3rem;
  margin-bottom: 3rem;
}
.loader:before,
.loader:after {
  content: "";
  position: absolute;
  border-radius: 50%;
  animation: pulsOut 1.8s ease-in-out infinite;
  filter: drop-shadow(0 0 1rem rgba(255, 150, 0, 0.8));
}
.loader:before {
  width: 100%;
  padding-bottom: 100%;
  box-shadow: inset 0 0 0 1rem #FF8000;
  animation-name: pulsIn;
}
.loader:after {
  width: calc(100% - 2rem);
  padding-bottom: calc(100% - 2rem);
  box-shadow: 0 0 0 0 #FF8000;
}

@keyframes pulsIn {
  0% {
    box-shadow: inset 0 0 0 1rem #ff821b;
    opacity: 1;
  }
  50%,
  100% {
    box-shadow: inset 0 0 0 0 #FF8000;
    opacity: 0;
  }
}

@keyframes pulsOut {
  0%,
  50% {
    box-shadow: 0 0 0 0 #FF8000;
    opacity: 0;
  }
  100% {
    box-shadow: 0 0 0 1rem #FF8000;
    opacity: 1;
  }
}
